/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
@import "~bootswatch/dist/Cosmo/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~ngx-toastr/toastr.css";
@import "~ngx-spinner/animations/ball-scale-multiple.css";

.tab-panel {
    border: 1px solid rgb(23, 16, 111);
    padding: 10px;
    border-radius: 4px;
  }
  
  .nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #dacdfb;
  }
  
  .member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: hwb(241 18% 47%);
  }
  
  .member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
    color: #181256;
  }
  
  .member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  
  .member-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid #1e2055;
    position: relative;
  }
  
  .member-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #09254d;
  }
  
  .member-tabset > .nav-tabs > li.active > a > i {
    color: #211b73;
  }
  
  .member-tabset > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
  