img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
    margin-top: 2px;
}

.nv-file-over {
    border: dotted 3px rgba(0, 0, 255, 0.5);
}

input[type=file] {
    color: transparent;
}